@import'../../app.scss';


.homeContainer{
  background-image: url('../../assets/backg2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;

  position: relative;
  // height: 100vh; //fallback
  max-height: -webkit-fill-available;
  box-sizing: border-box;
}
.addRoomForm{
  padding-top: 30px;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  z-index: 2;
  input{
    color: white;
    background-color: transparent;
  }
}

.roomsContainer{
  margin-top: 0px;
  max-height: 150px;
  overflow-y: scroll;
}

.roomListItem{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  align-items: center;

}

.roomActions{
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.roomActionButton{
  border:none;
  padding-right: 20px;
  width: auto;
  img{
    height: 25px;
  }
}

.actionCards{
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  padding-bottom: 25px;  
}
.card{
 height: 120px;
  border: $primary solid 1px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 325px;
  max-width: 325px;
  display: flex;
  align-items: center;

  .cardIllustration{
    width: 100px;
    margin-left: 20px;
  }

  .cardText{
    margin-left: 20px;
    font-size: 1.2em;
    // font-size: 1.2em;
    word-wrap: break-word;
  }
}
@media only screen and (min-width: 600px) {
  .homeContainer{
    background-image: url('../../assets/backg2_big.svg');
  }
}

@media only screen and (min-width: 1000px) {
  .homeContainer{
    background-position-y: -100px;    
  }
}