.waitContainer {
  background-image: url("../../assets/backg3.svg");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  position: relative;


  h1 {
    text-align: left;
    color: white;
  }

  button {
    width: 200px;
  }
}

.waitHead {
  margin-left: 20px;
}

.waitIllustration {
  background-image: url("../../assets/wait.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 85%;
  margin-left: 7.5%;
  bottom: 150;
  height: 40%;
  z-index: 1;
  margin-bottom: 100px;
  position: relative;
  
}

@media only screen and (min-width: 600px) {
  .waitContainer{
    background-image: url('../../assets/backg3_big.svg');
  }
}

@media only screen and (min-width: 1000px) {
  .waitContainer{
    background-position-y: -100px;    
  }
}