@import'../../app.scss';


.authContainer{
  background-image: url('../../assets/backg1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;

}

.authIllustration{
  position: absolute;
  top: 100px;
  right: 15px;
}

.authForm {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 300px;

  input {
    padding: 5px;
    font-size: 40px;
    border: none; 
  }
  button{
    margin-bottom: 10px;
  }
}

.socialsLogin{
  margin-left: 20px;
  position: absolute;
  bottom: 75px;
  .socialIcon{
    height: 15px;
  }
  button{
    width: 100px;
    padding: 5px;
    margin-right: 10px;
  }
}




