$primary : #242154;
$secondary: #FF5376;

html{
  max-width: 100vw;
  max-height: 100vh;
  
  outline: none;
}

input{
  outline: none;
}

body{
  position: relative;
  overflow: hidden;
}

h1{
  color: $primary;
  text-align: center;
}

h2{
  color: $primary;
}

input {
  padding: 5px;
  font-size: 40px;
  border: none; 
}

button{
  border-radius: 40px;
  background-color: transparent;
  border: $primary solid 1px;
  padding: 7px;  
  color: $primary;
  width: 100px;
  font-weight: bolder;
  font-size: 1.15em;
}
.highlightedButton{
  border-color: $secondary;
  color: $secondary;
}



a{
  padding-top: 15px;
  padding: 5px;
  color: $primary;
}